---
export { getStaticPaths } from '../../lib/util'
import Layout from '../../layouts/Layout.astro';

import ButtonCollection from '../../components/ButtonCollection.astro'
import Countdown from '../../components/Countdown.astro'
import OpeningHours from '../../components/OpeningHours.astro'
import AnchorButton from '../../components/AnchorButton.astro'
import Section from '../../components/Section.astro'

import * as company from '../../content/company.json'
import { getAndRender } from '../../lib/util'
import { useLangFromUrl } from '../../i18n/utils'

const t = useLangFromUrl(Astro.url)
const hero = await getAndRender(Astro.url, 'index/hero')
const location = await getAndRender(Astro.url, 'index/location')
const food = await getAndRender(Astro.url, 'index/food')
const drinks = await getAndRender(Astro.url, 'index/drinks')
---

<Layout>
  <div class="hero-wrapper">
    <div class="hero">
      <img src="/img/logo-white.svg" class="logo">
      <Countdown />
      <hero.Content />
      <ButtonCollection >
        <AnchorButton href={company.orderLink} grow='grow' classes='highlight'>{t.nav.order}</AnchorButton>
        <AnchorButton href="#location" grow='grow'>{t.nav.locate}</AnchorButton>
      </ButtonCollection>
      <OpeningHours />
      </div>
    </div>
  </div>

  <Section
    id="food"
    imageSrc="/img/pexels-mdsnmdsnmdsn-3728295-crop.jpg"
    imageAlt="..."
  >
    <Fragment slot="head">
      <food.Content />
      <ButtonCollection>
        <AnchorButton href={company.orderLink}>{t.nav.order}</AnchorButton>
        <AnchorButton href="food">{t.nav.readMore}</AnchorButton>
      </ButtonCollection>
    </Fragment>
  </Section>

  <Section
    id="drinks"
    alt={true},
    imageSrc="/img/pexels-rdne-6412836-crop.jpg"
    imageAlt="..."
  >
    <Fragment slot="head">
      <drinks.Content />
      <ButtonCollection>
        <AnchorButton href="drinks">{t.nav.readMore}</AnchorButton>
      </ButtonCollection>
    </Fragment>
  </Section>

  <Section
    id="location"
    imageSrc="/img/map.jpg"
    imageAlt="..."
  >
    <Fragment slot="head">
      <location.Content />
      <ButtonCollection>
        <AnchorButton href={company.mapLink}>{t.nav.showOnMaps}</AnchorButton>
      </ButtonCollection>
    </Fragment>
  </Section>
</Layout>

<style lang="scss">
@use 'sass:color';
@use "../../styles/defs";

.hero-wrapper {
  min-height: calc(100vh - defs.$top-bar-height);

  background-image: url('/img/pexels-christel-heimdal-jensen-628776-resize.jpg');
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  box-sizing: border-box;
  min-height: calc(100vh - defs.$top-bar-height);
  width: defs.$max_width;
  max-width: 100vw;

  margin: auto;
  padding: 0 4rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: color.change(defs.$background, $alpha: defs.$transparent-alpha);
}

.doubling-block {
  margin: 0 auto;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: stretch;
  gap: 1rem;

  > div {
    margin: auto;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 30rem;
    max-width: 100%;
  }

  @include defs.mobile {
    flex-direction: column;
  }

  @include defs.desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.logo {
  max-height: 12rem;
  margin: 2rem;
}

.highlight {
  color: defs.$highlight;
  background-color: defs.$green;

  &:hover {
    background-color: color.adjust(defs.$green, $lightness: +10%, $saturation: -10%)
  }
}


</style>
